<link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5 text-decoration-underline">Listado de Tipo Usuario</h1>
      <div class="col-md text-end d-flex justify-content-center align-items-center mb-3 ">
        <a [routerLink]="['/admin/tipousuario/new']" class="btn btn-success mx-3">Añadir Tipo Usuario</a>
        <app-search-unrouted [placeHolder]="'Buscar'" (onSearch)="setFilter( $event )"></app-search-unrouted>
        <app-dropdown-register-page class="mx-2" [PageSize]="responseFromServer?.numberOfElements"
        (eeRpp)="this.setRpp($event)">
      </app-dropdown-register-page>
      </div>
      <div class="col-md d-flex">
        <app-pagination-unrouted [nPage]="responseFromServer?.number + 1" [nTotalPages]="responseFromServer?.totalPages"
          (eePage)="setPage($event)"></app-pagination-unrouted>
      </div>
      <div class="col-md text-end">
        <h5 class="text-muted">Total de registros en la consulta {{responseFromServer?.totalElements}}</h5>
      </div>
      <table class="table">
        <thead class="table table-sm">
          <tr>
            <th (click)="setOrder('id')" >ID
              <span *ngIf="sortField=='id'&&sortDirection=='asc'">🔼</span>
              <span *ngIf="sortField=='id'&&sortDirection=='desc'">🔽</span>
            </th>
            <th (click)="setOrder('nombre')">Nombre
              <span *ngIf="sortField=='nombre'&&sortDirection=='asc'">🔼</span>
              <span *ngIf="sortField=='nombre'&&sortDirection=='desc'">🔽</span>
            </th>
            <th (click)="setOrder('usuarios')">Número de usuarios
              <span *ngIf="sortField=='usuarios'&&sortDirection=='asc'">🔼</span>
              <span *ngIf="sortField=='usuarios'&&sortDirection=='desc'">🔽</span>
            </th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tipousuario of responseFromServer?.content">
            <td>{{tipousuario.id}} </td>
            <td>{{tipousuario.nombre}}</td>
            <td>{{tipousuario.usuarios}}</td>
            <td>
              <div class="btn-group "  role="group" aria-label="Herramientas">
                <button class="btn btn-sm btn-info" [routerLink]="['/admin/tipousuario/view',tipousuario.id]">
                  <i class="bi bi-eye-fill"></i>
                </button>
                <button class="btn btn-sm btn-secondary" [routerLink]="['/admin/tipousuario/edit',tipousuario.id]">
                  <i class="bi bi-pencil-fill"></i>
                </button>
                <button class="btn btn-sm btn-danger" [routerLink]="['/admin/tipousuario/remove',tipousuario.id]">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
