<div class="container mt-5">
  <div class="row">
      <div class="col">
          <table class="table table-bordered table-striped">
              <tbody>
                  <tr>
                      <th>Id</th>
                      <td>{{oUsuario.id}}</td>
                  </tr>
                  <tr>
                      <td>Name</td>
                      <td>{{oUsuario.nombre}}</td>
                  </tr>
                  <tr>
                      <td>Email</td>
                      <td>{{oUsuario.email}}</td>
                  </tr>
                  <tr>
                      <td>Usertype</td>
                      <td>{{oUsuario.tipousuario.id}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>