<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5">Lista de usuarios</h1>
      <div class="col-md text-end d-flex justify-content-center align-items-center mb-3 ">
        <a [routerLink]="['/admin/usuario/new']" class="btn btn-success mx-3">Alta de usuario</a>
        <app-search-unrouted [placeHolder]="'Buscar usuario'" (onSearch)="setFilter( $event )"></app-search-unrouted>
        <app-dropdown-register-page class="mx-2" [PageSize]="responseFromServer?.numberOfElements"
          (eeRpp)="this.setRpp($event)">
        </app-dropdown-register-page>
      </div>
      <div class="col-md d-flex">
        <app-pagination-unrouted [nPage]="responseFromServer?.number + 1" [nTotalPages]="responseFromServer?.totalPages"
          (eePage)="setPage($event)"></app-pagination-unrouted>
      </div>
      <div class="d-flex justify-content-end mb-2 ">
        <button class="btn btn-success" (click)="generateUsuario()">Generate</button>
      </div>
      <div class="col-md text-start">
        <h5 class="text-muted" *ngIf="strTermFilter!=''">Filtrando por {{strTermFilter}} (borrar para resetear)</h5>
        <button class="btn btn-outline-danger" *ngIf="id_tipousuarioFilter!=0" (click)="setFilterByTipousuario(0)">
          <i class="bi bi-x-circle"></i> Reset tipousuario {{id_tipousuarioFilter}} filter</button>
      </div>
      <div class="col-md text-end">
        <h5 class="text-muted">Total de registros en la consulta {{responseFromServer?.totalElements}}</h5>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th (click)="setOrder('id')">ID
              <span *ngIf="sortField=='id'&&sortDirection=='asc'">🔼</span>
              <span *ngIf="sortField=='id'&&sortDirection=='desc'">🔽</span>
            </th>
            <th (click)="setOrder('nombre')">Nombre
              <span *ngIf="sortField=='nombre'&&sortDirection=='asc'">🔼</span>
              <span *ngIf="sortField=='nombre'&&sortDirection=='desc'">🔽</span>
            </th>
            <th (click)="setOrder('apellido1')">Apellido1
              <span *ngIf="sortField=='apellido1'&&sortDirection=='asc'">🔼</span>
              <span *ngIf="sortField=='apellido1'&&sortDirection=='desc'">🔽</span>
            </th>
            <th (click)="setOrder('apellido2')">Apellido2
              <span *ngIf="sortField=='apellido2'&&sortDirection=='asc'">🔼</span>
              <span *ngIf="sortField=='apellido2'&&sortDirection=='desc'">🔽</span>
            </th>
            <th (click)="setOrder('email')">Email
              <span *ngIf="sortField=='email'&&sortDirection=='asc'">🔼</span>
              <span *ngIf="sortField=='email'&&sortDirection=='desc'">🔽</span>
            </th>
            <th (click)="setOrder('login')">login
              <span *ngIf="sortField=='login'&&sortDirection=='asc'">🔼</span>
              <span *ngIf="sortField=='login'&&sortDirection=='desc'">🔽</span>
            </th>
            <th (click)="setOrder('password')">password
              <span *ngIf="sortField=='password'&&sortDirection=='asc'">🔼</span>
              <span *ngIf="sortField=='password'&&sortDirection=='desc'">🔽</span>
            </th>
            <th (click)="setOrder('tipousuario')">Tipo de usuario
              <span *ngIf="sortField=='tipousuario'&&sortDirection=='asc'">🔼</span>
              <span *ngIf="sortField=='tipousuario'&&sortDirection=='desc'">🔽</span>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of responseFromServer?.content">
            <td>{{usuario.id}} </td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.apellido1}}</td>
            <td>{{usuario.apellido2}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.login}}</td>
            <td>{{usuario.password}}</td>
            <td (click)="setFilterByTipousuario(usuario.tipousuario.id)">
              {{usuario.tipousuario.id}} ({{usuario.tipousuario.nombre}})
            <td>
              <div class="btn-group " role="group" aria-label="Herramientas">
                <button class="btn btn-sm btn-info" [routerLink]="['/admin/user/view',usuario.id]">
                  <i class="bi bi-eye-fill"></i>
                </button>
                <button class="btn btn-sm btn-secondary" [routerLink]="['/admin/usuario/edit',usuario.id]">
                  <i class="bi bi-pencil-fill"></i>
                </button>
                <button class="btn btn-sm btn-danger" [routerLink]="['/admin/usuario/remove',usuario.id]">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>